* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: black;
  color: aliceblue;
  /* height: 80vh; */
  padding: 2% 10%;
  & ul {
    display: flex;
    gap: 10px;
    font-size: 1.3vw;
    padding-bottom: 5vh;
    list-style-type: none;

  }
}
.body ul li{
    color: aliceblue;

}

.body ul .nav{
    text-decoration: none;
}
.body ul .icon{
    font-size: 1.3vw;
    /* padding-right: 2px; */
    /* padding-top: px; */
}
