.box{
    background-image: linear-gradient(rgb(55, 55, 102),white,rgb(60, 60, 109));
}

.container{
    padding: 3% 10%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container .lhs{
    width: 50%;
    text-align: justify;
    & p{
        font-size: 1vw;
        line-height: 4vh;
    }
    & h1{
        color: rgb(31, 3, 3);
    }
    & .btnn{
        display: flex;
        gap: 3vw;
        padding-top: 4vh;
        & button{
            height: 5vh;
            width: 6vw;
            border-radius: 5px;
            /* border: none; */
            font-size: 0.8vw;  
        font-weight: 700;
        background-color: #00ff04;

color: #150d03;    }
    }
}
.container .rhs{
    width: 50%;
    padding-left: 20%;
    & img{
        border-radius: 10px;
    }
}