.contact{
    /* background-image: linear-gradient(rgb(198, 199, 146),white,rgb(142, 108, 108)); */
    background-color: #000000;
    color: aliceblue;
    padding: 1% 10%;
}
.contact .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .container .lhs{
    width: 50%;
    & h2{
        padding-bottom: 3%;
        font-size: 2vw;
    }

    & img{
        border-radius: 5px;
    }
}
.contact .rhs {
    /* height: 100%; */
    /* width: 49%; */
    background-color: rgba(0, 255, 255, 0.36);
    padding:5%;
    border: 1px solid #faf9f8;
    border-radius: 5px;
    box-shadow: rgb(242, 239, 239) 0px 5px 15px;
   & input,textarea{
    margin-bottom:5%;
    padding: 2%;
    width: 100%;
    outline: none;
   }
   & button{
padding: 2% 8%;
color: whitesmoke;
background-color: blue;
border-radius: 5px;

   }
}
.contact .map{
    & h2{
        padding-bottom: 3%;
        margin-left: 30%;
    }
    width: 100%;
    padding-top: 5%;
    /* height: 50vh; */
    & iframe{
        border-radius: 5px;
        margin-left: 30%;
    }
}